In [2]:
import sqlalchemy

In [13]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

In [19]:
engine = create_engine('sqlite:///alchemy.db', echo=True)

In [20]:
meta = MetaData()

In [21]:
obj_users = Table('T_users', meta,
                   Column('pk', Integer, primary_key=True),
                   Column('name', String))

obj_addr = Table('T_address', meta,
                Column('pk', Integer, primary_key=True),
                Column('name', String),
                Column('fk',None, ForeignKey('T_users.pk')))

In [22]:
meta.tables

FacadeDict({'T_users': Table('T_users', MetaData(), Column('pk', Integer(), table=<T_users>, primary_key=True, nullable=False), Column('name', String(), table=<T_users>), schema=None), 'T_address': Table('T_address', MetaData(), Column('pk', Integer(), table=<T_address>, primary_key=True, nullable=False), Column('name', String(), table=<T_address>), Column('fk', Integer(), ForeignKey('T_users.pk'), table=<T_address>), schema=None)})

In [23]:
meta.create_all(engine)

2021-07-05 16:42:25,022 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-05 16:42:25,023 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_users")
2021-07-05 16:42:25,023 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-05 16:42:25,024 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_users")
2021-07-05 16:42:25,025 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-05 16:42:25,026 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_address")
2021-07-05 16:42:25,026 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-05 16:42:25,027 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_address")
2021-07-05 16:42:25,027 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-05 16:42:25,028 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_users" (
	pk INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (pk)
)


2021-07-05 16:42:25,029 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2021-07-05 16:42:25,031 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_address" (
	pk INTEGER NOT NULL,
	name VARCHAR,
	fk INTEGER,
	PRIMARY KEY (pk),
	FOREIGN KEY(fk) REFERENCES "T_users" (pk)
)


2021-07-05 16:42:25,032 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2021-07-05 16:42:25,036 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
engine.echo = True

In [27]:
print(obj_users.insert().values(pk=1,name='A').compile().params)

{'pk': 1, 'name': 'A'}

In [ ]:
obj_users.insert().values(pk=1,name='A').compile().params

In [28]:
con = engine.connect()

In [29]:
con.execute(obj_users.insert(), {'name':'A'})

2021-07-05 16:47:57,107 INFO sqlalchemy.engine.Engine INSERT INTO "T_users" (name) VALUES (?)
2021-07-05 16:47:57,108 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('A',)
2021-07-05 16:47:57,109 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
from sqlalchemy import select

In [32]:
print(select(obj_users))

SELECT "T_users".pk, "T_users".name
FROM "T_users"

In [33]:
cur = con.execute(select(obj_users))

2021-07-05 17:08:28,438 INFO sqlalchemy.engine.Engine SELECT "T_users".pk, "T_users".name
FROM "T_users"
2021-07-05 17:08:28,439 INFO sqlalchemy.engine.Engine [generated in 0.00095s] ()

In [34]:
cur.fetchall()

[(1, 'A')]

In [ ]:
con.execute()