In [2]:
import sqlite3

In [3]:
sqlite3.version

'2.6.0'

In [9]:
conn = sqlite3.connect('Jupyter')

In [10]:
cur = conn.cursor()

In [12]:
type(cur)

sqlite3.Cursor

In [14]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

execute 와 patch 가 중요하다.

sqlite 는 null, integer, real, text, blob 데이터타입을 기본적으로 지원해준다.

In [20]:
cur.execute('CREATE TABLE people (name_last,age)')

In [22]:
who = 'Yeltsin'
age = 72

In [23]:
cur.execute('insert into people values(?,?)',(who,age))

In [25]:
cur.execute('select * from people where name_last=:who and age=:age', {'who':who, 'age':age})

In [26]:
cur.fetchone()

('Yeltsin', 72)

-------

In [30]:
sql = 'insert into people values (?, ?)'
curData = [('A',1),('B',2),('C',3)]
cur.executemany(sql,curData)

--------

---------

In [63]:
con = sqlite3.connect(':memory:')
with con:
    cur = con.cursor()
    cur.execute('CREATE TABLE Friends (Id INTEGER PRIMARY KEY, Name TEXT);')
    cur.execute("INSERT INTO Friends(Name) VALUES ('Tom');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Rebecca');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Jim');")
    
    lid = cur.lastrowid
    print("the last id of the inserted row is",lid)

the last id of the inserted row is 3

---------

-----------

------

In [157]:
conn1 = sqlite3.connect('playlist1.db')
cur = conn1.cursor()

cur.executescript("""
    DROP TABLE IF EXISTS artist;
    CREATE TABLE artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT);
    DROP TABLE IF EXISTS genre;
    CREATE TABLE genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT,
        fk INTEGER NOT NULL);
    DROP TABLE IF EXISTS album;
    CREATE TABLE album (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT,
        fk INTEGER NOT NULL);
    DROP TABLE IF EXISTS track;
    CREATE TABLE track (
        id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT NOT NULL,
        rating INTEGER,
        length INTEGER,
        afk INTEGER NOT NULL,
        gfk INTEGER NOT NULL)
        """)

conn1.commit()

In [158]:
cur.execute("INSERT INTO artist (name) VALUES (?)", [("TOMCAAT")])

In [159]:
conn1.commit()

In [160]:
cur.execute('INSERT INTO album (name,fk) VALUES (?,\
            (SELECT id FROM artist WHERE name="TOMCAAT"))',
            ['시간여행의순기능'])

In [161]:
conn1.commit()

In [162]:
cur.execute('SELECT * FROM album')
cur.fetchall()

[(1, '시간여행의순기능', 1)]

In [163]:
cur.execute('ALTER TABLE genre DROP fk')

In [164]:
conn1.commit()

In [165]:
genre = [{'name':'rnb'},{'name':'rock'}]
cur.executemany('INSERT INTO genre (name) VALUES(:name)', genre)

In [166]:
conn1.commit()

In [167]:
cur.execute('SELECT * FROM genre')
cur.fetchall()

[(1, 'rnb'), (2, 'rock')]

In [168]:
track = [{'name':'순기능', 'fk1':'시간여행의순기능', 'fk2':'rnb'},
        {'name':'시간을달리는소년', 'fk1':'시간여행의순기능', 'fk2':'rock'}]

In [169]:
conn1.commit()

---------

In [171]:
cur.execute('''SELECT A.name, B.name FROM artist AS A
                INNER JOIN album AS B ON A.id=B.fk''')
cur.fetchall()

[('TOMCAAT', '시간여행의순기능')]

---------